#workbench\2e editors\2e files\2e textFileEditor > div > div.overflow-guard > div.monaco-scrollable-element.editor-scrollable.vs-dark.soojade-material-theme-themes-Material-Theme-tmTheme > div.lines-content.monaco-editor-background > div.view-lines{
    background-image: url(file:///F:/wallpaper/140430110230.jpg);
    background-attachment: fixed;
    background-position: left top;
}
.monaco-editor .view-line{
    background: rgba(25, 27, 25, 0.68);
}

#workbench\2e parts\2e statusbar,#workbench\2e parts\2e activitybar{
        background-color: rgba(40, 45, 43，0.5);
}